/bin/
/target/
/.externalToolBuilders/
/.classpath
/.project
/.settings/
/CJ.out.xml
/CJ.sqlite3.gnucash
/CJ.xml
/PhA.out.xml
/PhA.sqlite3.gnucash
/PhA.xml
/Simple.out.xml
/Simple.xml
/datanucleus.log
/x/
*.out.xml
/datanucleus-enhancer.log
